<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>SWRA - Page not found</title>

  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/adminlte.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Dashboard</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item d-none d-sm-inline-block">
        <span class="navbar-text">
          Signed in as <b>admin</b>
        </span>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="/logout" role="button"><i
        class="fas fa-sign-out-alt" title="Logout"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" role="button" style="cursor: pointer"><i
        class="fas fa-question" title="Help"></i></a>
      </li>
    </ul>
  </nav>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <span class="brand-link" style="cursor: default">
      <img src="/assets/img/logo.png" alt="SWRA Logo" class="brand-image img-circle elevation-3">
      <span class="brand-text font-weight-light">SWRA</span>
    </span>

    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-laptop"></i>
              <p>
                Device Management
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/devices" class="nav-link">
                  <i class="nav-icon fas fa-mobile-alt"></i>
                  <p>
                    Devices
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/groups" class="nav-link">
                  <i class="nav-icon fas fa-user-friends"></i>
                  <p>
                    Groups
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/networks" class="nav-link">
                  <i class="nav-icon fas fa-wifi"></i>
                  <p>
                    Networks
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Administration
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/clients" class="nav-link">
                  <i class="nav-icon fas fa-network-wired"></i>
                  <p>
                    Clients
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/users" class="nav-link">
                  <i class="nav-icon fas fa-user"></i>
                  <p>
                    Users
                  </p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>404 Error Page</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
              <li class="breadcrumb-item active">404 Error Page</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>

          <p>
            We could not find the page you were looking for.
            Please <a href="/">return to dashboard</a>.
          </p>
        </div>
      </div>
    </section>
  </div>

  <footer class="main-footer">
    Theme based on <a href="https://adminlte.io">AdminLTE.io</a>
    <div class="float-right d-none d-sm-inline">
      <a href="https://github.com/blast007/simple-wifi-radius-server">SWRA</a> Version 0.0.1-alpha
    </div>
  </footer>
</div>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/adminlte.min.js"></script>
</body>
</html>
