{{ define "body" }}
{{ $networks := .Networks }}
{{ $reverse := .reverse }}
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-xl-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Groups</h3>
              </div>
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 100px">Group</th>
                      <th>Networks</th>
                      <th style="width: 40px">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range $group := .Groups }}
                    <tr>
                      <td>{{ $group.Name }}</td>
                      <td>
                        <form role="form" action="{{ call $reverse "group-update" }}" method="POST">
                          <select class="submit-on-change" multiple="multiple" data-placeholder="Select networks" style="width: 100%;" name="networks[]">
                            {{ range $network := $networks }}
                            {{ if groupContainsNetwork $group $network }}
                            <option value="{{$network.ID}}" selected>{{ $network.SSID }}</option>
                            {{ else }}
                            <option value="{{$network.ID}}">{{ $network.SSID }}</option>
                            {{ end }}
                            {{ end }}
                          </select><input type="hidden" name="id" value="{{ $group.ID }}" /><noscript><button type="submit">Save</button></noscript>
                        </form>
                      </td>
                      <td>
                        <form role="form" action="{{ call $reverse "group-delete" }}" method="POST" class="confirm-delete" data-type="group" data-name="{{ $group.Name }}">
                          <button type="submit" class="btn btn-default"><i class="fas fa-trash-alt" title="Delete "></i></button><input type="hidden" name="id" value="{{ $group.ID }}" />
                        </form>
                      </td>
                    </tr>
                    {{ end }}
                  </tbody>
                </table>

                <div class="card-footer clearfix">
                  {{/*<ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                  </ul>*/}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Create Group</h3>
              </div>
              <form role="form" action="{{ call $reverse "group-create" }}" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Group Name" name="name" required>
                  </div>
                  <div class="form-group">
                    <label for="networks">Networks</label>
                    <select multiple="multiple" data-placeholder="Select networks" style="width: 100%;" name="networks[]">
                      {{ range $network := $networks }}
                      <option value="{{$network.ID}}">{{ $network.SSID }}</option>
                      {{ end }}
                    </select>
                  </div>
                </div>

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-add"></i>Add Device</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
{{ end }}

{{ define "extra_scripts" }}
<script src="/plugins/select2/js/select2.full.min.js"></script>
{{ end }}

{{ template "layout.html" . }}
